<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quadriga.earthquakecanada"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
      android:minSdkVersion="7"
      android:targetSdkVersion="17" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />

   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />	
	
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.quadriga.earthquakecanada.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quadriga.earthquakecanada.HistoryEarthquakeMain"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name="com.quadriga.earthquakecanada.Settings"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name="com.quadriga.earthquakecanada.SingleEarthquakeMain"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden"  >
        </activity>
        
        <activity
            android:name="com.quadriga.earthquakecanada.EqGmap"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden"  >
        </activity>
        
        <activity
            android:name="com.quadriga.earthquakecanada.About"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize|keyboardHidden"  >
        </activity>
        
        <receiver android:name=".NotificationReceiver" android:process=":remote">
			    <intent-filter>
	    	        <action android:name="android.intent.action.BOOT_COMPLETED"/>
		        </intent-filter>
		</receiver>
		
        <service android:name=".EqTaskService"></service>
        
    </application>

</manifest>
